---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="EzMusiq Music studios">
	<section class="bg-black min-h-[70vh] w-full">
		<div class="container">
			Hello Main page
		</div>
	</section>
</Layout>
